[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
sklearn = "==0.0.post4"
scipy = "*"
scikit-learn = "*"
transformers = "*"
torch = "*"

[dev-packages]
python-dotenv = "*"
requests = "*"
pandas = "*"

[requires]
python_version = "3.10"
